{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% block img_background %}{% load static %}{% static 'core\img\contenido\mclaren_mp4-12c.jpg' %}{% endblock %}

{% block headers %}
<h1>CarsDetail</h1>
<span class="subheading">Lo sabemos todo</span>
{% endblock %}}


{% block content %}
    
    <!-- Inicio CAROUSEL -->
    <div class="container">        
        <div class="row mt-2 mb-2">
            <div>
                <div class="carousel slide" data-ride="carousel" id="carousel2">
                    <!-- Indicadores -->
                    <ul class="carousel-indicators">
                        <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel2" data-slide-to="1"></li>
                        <li data-target="#carousel2" data-slide-to="2"></li>
                        <li data-target="#carousel2" data-slide-to="3"></li>
                        <li data-target="#carousel2" data-slide-to="4"></li>
                        <li data-target="#carousel2" data-slide-to="5"></li>
                    </ul>
    
                    <!-- Slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'core\img\contenido\001-1200x500.jpg' %}"  alt="Supercoches" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core\img\contenido\002-1200x500.jpg' %}"  alt="Mercedes Benz" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core\img\contenido\003-1200x500.jpg' %}"  alt="Koenigsegg" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core\img\contenido\004-1200x500.jpg' %}"  alt="Ferrari" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core\img\contenido\005-1200x500.jpg' %}"  alt="Lamborghini" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core\img\contenido\006-1200x500.jpg' %}"  alt="Bugatti" style="width: 100%">
                        </div>
                    </div>
    
                    <!-- Controles -->
                    <a class="carousel-control-prev" href="#carousel2" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel2" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin CAROUSEL -->

    <!-- Inicio NOVEDADES -->

    <hr>
    <center><h1 class="display-4" style="font-family:'Bahnschrift'">NOVEDADES</h1></center>
        <!--DEMOSTRACION TOP VELOCIDAD MAXIMA-->
    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="row mt-4 mb-4 justify-content-center">
                <div class="col-12">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="{% static 'core\img\contenido\auto_rapido.jpg' %}" alt="Card imagen">
                        <div class="card-img-overlay text-white">
                            <h4 class="card-title">¿Cuál es el coche más rápido del mundo?</h4>
                            <a style="color: blue;"class="card-link" href="{% url 'tablas-de-records' %}#top_velocidad"><h6 class="card-subtitle mb-2 text-primary">Ver tabla de récord</h6></a>
                            <p class="card-text">Bugatti Chiron Super Sport es el modelo más rápido construido por la casa francesa del grupo Volkswagen tras registrar una velocidad punta de 490,484 kilómetros/hora en el circuito de Ehra-Lessien.</p>
                        </div>
                    </div>
                    <br>
                    <div class="col-12">
                        <div class="card" style="width: 100%;">
                            <img class="card-img-top" src="{% static 'core\img\contenido\PORTADA.jpg' %}" alt="Card imagen">
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title">Eventos Automovilismo</h4>
                                <a style="color: blue;"class="card-link" href="{% url 'tablas-de-records' %}#evento_auto"><h6 class="card-subtitle mb-2 text-primary">Ver tabla de récord</h6></a>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!--FIN DEMOSTRACION TOP VELOCIDAD MAXIMA-->
    <!--INICIO DATOS CURIOSO-->
    <br>
    <center><h1 class="display-4" style="font-family:'Bahnschrift'">DATO CURIOSO</h1></center>
    <div class="container">
        <div class="row mt-2 mb-2">
            <div>
                <div class="carousel slide carousel-fade" data-ride="carousel" id="carousel">
                    <!-- Indicadores -->
                    <ul class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                        <li data-target="#carousel" data-slide-to="3"></li>
                        <li data-target="#carousel" data-slide-to="4"></li>
                    </ul>

                    <!-- Slideshow -->
                    <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img src="{% static 'core\img\contenido\dato_curioso1.jpg' %}"  alt="Primer Coche" style="width:100%">
                                <div class="carousel-caption">
                                    <p style="background-color: black;">El primer coche del mundo corría sólo a 11 km/h. Los coches de finales del siglo XVIII eran tan lentos, que la policía de Nueva York detenía a los coches que excedían el límite de velocidad con bicicletas.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'core\img\contenido\dato_curioso2.jpg' %}"  alt="Multa Mas Cara" style="width: 100%">
                                <div class="carousel-caption">
                                    <p style="background-color: black;">La multa más cara por exceso de velocidad registrada hasta el momento tuvo lugar en Suecia. Dicha multa costó a 1 millón de dólares, el hombre que obtuvo esta sanción sobrepasó el límite alcanzándo una velocidad de 300 km/h en nada más y nada menos que en un Mercedes SLS AMG, sin duda lo disfrutó al máximo.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'core\img\contenido\dato_curioso3.jpg' %}"  alt="Record Kilometraje" style="width: 100%">
                                <div class="carousel-caption">
                                    <p style="background-color: black;">Irv Gordon se convirtió en famoso por ser el propietario del Volvo P1800 S que ostenta el récord Guinness del coche con más kilómetros recorridos del mundo. El pasado 15 de noviembre, este profesor retirado falleció con 5,25 millones de kilómetros recorridos en su Volvo.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'core\img\contenido\dato_curioso4.jpg' %}"  alt="Autos Colores" style="width: 100%">
                                <div class="carousel-caption">
                                    <p style="background-color: black;" class="tex">Por normativa los autos debían tener un cierto color dependiendo de cada país, los franceses debían ser azules, los alemanes color plateados, los italianos rojos y los ingleses verde.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'core\img\contenido\dato_curioso5.jpg' %}"  alt="Primer Diesel en LeMans" style="width: 100%">
                                <div class="carousel-caption">
                                    <p style="background-color: black;">El Audi R10 TDI fue el primer coche diesel en ganar las 24 horas de Le Mans, en Francia, se coronó en 2006 pero también triunfó en 2007 y 2008 demostrando la evolución y tecnología que este tipo de propulsores tienen en la actualidad.</p>
                                </div>
                            </div>
                            </div>
                        <!-- Controles -->
                        <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    

