body{
  font-family: 'Source Sans Pro', sans-serif;
}
h1{
  font-size: 66px;
  font-weight: 600px;
  line-height: 80px;
}
p{
  font-family: 'Source Sans Pro';
  font-size: 28px;
}
.foto_principal{
  background-image: url('../img/casa_index.jpg');
  background-size: cover;
  color: white;
  padding-top: 100px;
  min-height: 900px;
  width: 100%;
  font-family: 'Source Sans Pro';
}
.foto_about{
  background-image: url('../img/casco.jpg');
  background-size: cover;
  color: white;
  padding-top: 100px;
  min-height: 600px;
  width: 100%;
  font-family: 'Source Sans Pro';
}

.content-center{
  width: 80%;
  margin: 6rem auto;
  min-height: calc(100vh - 8.8rem - 400px);
  text-align: center;
}
.content-center-two{
  max-width: 900p;
  margin: 0 auto;
  text-align: center;
}
.footer-main-div{
  height: 8.8rem;
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
  background: #272727;
  padding: 20px 0px;
}

.footer-social-icons{
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 50px;
  background: transparent;
}

.footer-social-iconsul li a{
  color: yellow;
  font-size: 25px;
  display: block;
}
.footer-social-iconsul li a i{
  line-height: 50px;
}
.footer-menu-one{
  width: 100%;
  margin: 50px;
  height: auto;
  margin: auto;
  margin-top: 20px;

}
.footer-menu-one ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-menu-one ul li{
  display: inline-block;
  margin: 0px 15px;
}
.footer-menu-one ul li a{
  font-family: Arial;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

#fotos_home{
  padding: 50px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}



ion-icon {
  font-size: 50px;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
@media screen and (max-width: 900px){
  #Contacto{
    flex-direction: column;
    padding: 0%;
    align-items: center;
  }
  .cuadrado{
    width: 70%;
    }
  #info{
    padding: 100px 4px;
  }

  .footer-social-icons ul li{
    margin: 0px 30px;
  }
}

#large{
  width: 200%;

}
/*ESTILOS CONTACTO */
.cuadrado{
background-color: rgba(255, 255, 255, 0.5) ;
color: black;
text-align: center;
width: 50%;
}

.cuadradoMap{
background-color: transparent ;
color: black;
text-align: center;
}

#Contacto{
display: flex;
justify-content: space-around;
padding: 20px;


}
/*FIN ESTILOS CONTACTO */


.CuadradoAbout{
width: 100%;   
margin: auto;
padding: 100px;
border-color: black;
color: black;
text-align: center;
}

.banner-contact{
  background-image: url('../img/callcenter.jpg');
  background-size: cover;
  color: white;
  height: 400px;
  padding: 50px;
  width: 100%;
  font-family: 'Source Sans Pro';
}

.banner-medidas{
  background-image: url('../img/plano2.jpg');
  background-size: cover;
  color: white;
  height: 400px;
  padding: 50px;
  width: 100%;
  font-family: 'Source Sans Pro';
}

.banner-metraje{
  background-image: url('../img/plano3.jpg');
  background-size: cover;
  color: white;
  height: 400px;
  padding: 50px;
  width: 100%;
  font-family: 'Source Sans Pro';
}

.container-medidas{
  padding: 30px;
  padding-bottom: 40px;
  
}

ul{
  text-align: left;
}

/** Listado de contactos **/

.content {
  width: 80%;
  margin: 6rem auto;
  margin-bottom: 8.8rem;
  min-height: calc(100vh - 8.8rem);
}