{% extends 'main/base.html' %}
{% load static %}
{% block title %} ¿Quienes somos? {% endblock %}
{% block content%}

<section class="foto_about">
  <div class="container">
    <div class="content-center" style="margin-top: 150px;">
      <h1 style="margin-top: 580px;">Believe in our Houses</h1><br>
    </div>
  </div>
</section>

<section id="info" >
  <div class="container">
    <div>
      <h1 style="text-align: center;">¿Quienes somos?</h1>
      <p style="text-align: center;">Believe in Our Houses es una empresa dedicada a la venta y fabricación de Casas prefabricadas ofreciendo            
        a nuestros clientes una amplia gama de alternativas cuando de calidad se trata, diseños modernos a un 
        precio razonable, tu futura casa puede estar a solo 2
        clicks de ti.
      </p>
    </content-center>
  </div>
</section> 


{% endblock content%}