{% extends 'main/base.html' %}
{% load static %}
{% block title %} Galería {% endblock %}

{% block content%}


<div class="container-fluid">
  <div class="container">
    <div class="fondo">
      <div class="content-center-two">
        <div style="margin-top: 50px;">
          <h1 style="padding: 45px; font-size: 80px; font-family: 'Lucida Sans'; ">Galería</h1>
          
        </div>
      </div>
    </div>
    

  </div>

  <div class="row" style="padding: 20px;">
    <div class="column">
      <img src= "{% static 'img/casa1.jpg'%}"/>
      <img src="{% static 'img/casa9.jpg'%}" />
      <img src="{% static 'img/casa7.jpg'%}">

    </div>
    <div class="column">
      <img src="{% static 'img/casa8.jpg'%}">
      <img src="{% static 'img/casa.jpeg'%}">
      <img src="{% static 'img/casa6.jpg'%}">
    </div>
    <div class="column">
      <img src="{% static 'img/casa2.jpg'%}" />
      <img src="{% static 'img/casa3.jpg'%}" />
      <img src="{% static 'img/casa10.jpg'%}">
    </div>
  </div>
</div>


{% endblock content%}