{% extends 'main/base.html' %}
{% load static %}
{% block title %} Modelos a medida {% endblock %}

{% block content%}
<section class="banner-medidas">
  <div class="container">
    <div class="content-center">
      <h1 style="font-size: 50px;font-weight: bold; margin-top: 220px;">Modelos a medida</h1>
    </div>
  </div>
</section>
<section id="info">
  <div class="container">
    <div class="content-center">
      <h1>Crea la casa de tus sueños</h1>
      <p>En este apartado podrás las condiciones para la realización de tu casa, decide cuantas piezas y baños deseas
        tener y te mostraremos el precio.</p>
        <section id="Contacto" class="content-center">
          <div class="container-medidas" style="border: 1px; border-color: black;">
            <h4>Completar</h4>
            <hr>
            <form method="GET">
              <div class="form-group">
                <label for="n_habitaciones">Número de habitaciones</label>
                <select class="form-control" id="n_habitaciones" name="n_habitaciones">
                  <option value="0">Seleccione</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div class="form-group">
                <label for="n_baños">Número de baños</label>
                <select class="form-control" id="n_baños" name="n_baños">
                  <option value="0">Seleccione</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
              <div id="botoncito">
                <button type="submit" class="btn btn-primary" style="margin-top: 100px;">Confirmar</button>
              </div>
            </form>
          </div>
          <div class="cuadradoMap">
            <h4>Resultado</h4>
            <hr>
            {% if casa == '' %}
            <div class="card" style="width: 18rem;">
              <img src="{% static 'img/plano.jpg'%}" class="card-img-top" style="height: 178px;">
              <div class="card-body">
                <p style="font-size: medium;"></p>
                <ul>
                  <li>Precio: 0 UF </li>
                  <li>Materiales:  </li>
                  <li>Metros: <sup>2</sup></li>
                  <li>Estilo:  </li>
                </ul>
              </div>
            </div>
            {% else %}
            <div class="card" style="width: 18rem;">
              <img src="{{casa.foto.url}}" class="card-img-top" style="height: 178px;">
              <div class="card-body">
                <p style="font-size: medium;">{{casa.descripcion}}</p>
                <ul>
                  <li>Precio: {{casa.precio}} UF </li>
                  <li>Materiales: {{casa.materiales}}  </li>
                  <li>Metros: {{casa.metros}} <sup>2</sup></li>
                  <li>Estilo: {{casa.estilo}} </li>
                </ul>
              </div>
            </div>
            {% endif %}
          </div>
        </section>
    </div>
  </div>
</section>


{% endblock content%}